.container{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

button, p{
    width: 30%;
    font-size: 28px;
    border: none;
    border-radius: 20px;
    text-align: center;
}