<!--
    <app-user-list-details *ngFor="let number of numbers" [name]="number">{{ number }}</app-user-list-details>
-->
<h2>Users</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <!--? this below makes the directive listen for any event that fires here -->
            <!--* <th appHighlight [color]="'lime'">Name</th> -->
            <!--? this way with selector and property separated -->
            <th appHighlight="lime">Name</th>
            <!--? works also like this: <th [appHighlight]="'lime'">Name</th> -->
            <!--? this way acts both as the selector and a property binded -->
            <!--* invoked as a attribute -->
            <th>Email</th>
            <th>Phone</th>
            <th>Website</th>
        </tr>
    </thead>
    <tbody>
        <tr #rows app-user-list-details *ngFor="let u of users" [user]="u" (deleteUser)="deleteUser($event)"></tr>
        <!--* we make the tr behave as a component -->
        <!--* app-user-list-details is used as an html attribute, that allows us to access the object -->
        <!--? ngFor is a structural directive (changes the DOM and has no view)-->
    </tbody>
</table>